@using iTunesSearchEngine.Models
@model iTunesSearchEngine.Models.SearchBar

@{
    ViewBag.Title = "Home Page";
}



@*<div>
    <h1>iTunes API Searcher</h1>
    <p class="lead">See it and other projects at my Github</p>
    <p><a class="btn btn-primary" href="https://github.com/ArmaVerus">GitHub</a></p>
</div>

<form>
    <p>
        Search: @Html.TextBoxFor(m => m.SearchQuery)
        Type: @Html.DropDownListFor(m => m.SearchCategory,
       new SelectList(Enum.GetValues(typeof(Category))),
       "Select Type"
       )
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>*@