@using iTunesSearchEngine.Models
    @model iTunesSearchEngine.Models.SearchBar

@{
    ViewBag.Title = "Search";
}

@*Page should only render the results, Filtered by Release Date, so anything released over 8 years ago will not be displayed*@

@foreach (var i in Model.Results.Where(i => i.releaseDate.Year > DateTime.Now.Year - 8 ))
{<div class="row">
        <table class="table">
            <tr>
                <td><img src="@i.artworkUrl100" /></td>
                <td style="text-align:center">@i.trackName</td>
                <td style="text-align:center">Released: @i.releaseDate.ToShortDateString()</td>
            </tr>
        </table>
    </div>
}